/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/bg-brushes.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}